html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #E5E0FF;
}

.navbar .logo {
    width: 100px;
    padding-right: 40px;
}

.nav-menu .nav-item {
    display: inline;
    margin: 20px;
    font-size: 25px;
}

.nav-menu .nav-item a {
    text-decoration: none;
     color: #7286D3; 
    font-weight: bold;
    padding: 15px 5px;
    border-radius: 20px;
    transition: 0.3s ease;
}


.nav-menu .nav-item a:hover {
    background-color: #8EA7E9;
}

.hero-card h1 {
    text-align: center;
    font-size: 50px;
}



.hero-image {
    background-image: url('slike/slika.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image .hero-card {
    width: 600px;
    text-align: center;
    height: 150px;
}

.hero-image .hero-card a {
    background-color: #FFF2F2;
    color: black;
    padding: 10px 15px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.hero-image .hero-card a:hover {
    background-color: #8EA7E9;
    transition: 0.3s ease;
}

.tekst{
    background-color: #E5E0FF;
    text-align: center;
    padding:10px 0px 20px 0px;
}

.tekst p{
    font-size: 30px;
    margin-bottom: 0px;
}

.tekst h2{
    font-size: 45px;
}

.tekst h3{
    font-size: 35px;
}

.animacija {
    margin-top: 0px;
    width: 100%;
    height: 150px;
    background-color: #FFD1E3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.metla1 img{
    margin-top: 30px;
    align-items: center; 
    width: 100px;
    position: absolute;
    animation: sweep1 1s infinite alternate;
} 

 .metla2 img{
    margin-top: 30px;
    align-items: center; 
    width: 100px;
    position: absolute;
    animation: sweep2 1s infinite alternate;
}


@keyframes sweep1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes sweep2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.kontakt-forma {
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 

  }
  
  .kontakt-forma h1 {
    color: #333;
    text-align: center;
  }
  
  .kontakt-forma p {
    color: #666;
  }
  
  .input-fields {
    margin-bottom: 15px;
  }
  
  .input-fields p {
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  

  .submit-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }

  .usluge h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 2000;
    margin-top: 0px;
}

.usluge {
    background-color: #aab7d2;
}

.dostupne_usluge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}


.dostupne_usluge .kartica{
    background-color: #7288b5;
    width: 550px;
    margin: 20px 20px;
    height: 400px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .9);
    border-radius: 25px;
}

.dostupne_usluge .kartica:hover{
    background-color: #be9ce0;
    width: 550px;
    margin: 20px 20px;
    height: 400px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .9);
    border-radius: 25px;
}

.kartica img {
    width: 540px;
    margin: 5px;
    height: 250px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-bottom: 0px;
}

.kartica h1 {
    text-align: center;
    color: #5D3587;
}

.kartica a {
    text-align: center;
    color: #cbbed9;
    text-decoration: none;
}

.info {
    display: block;
    text-align: center;
    font-size: 18px;
}

.info h1 {
    margin-top: 5px;

}

.usluge p, .usluge h1{
    text-align: center;
}

#poslednje{
    margin-bottom: 0px;
    padding-bottom: 20px;
}


@media screen and (min-width: 320px) and (max-width: 425px){

    .navbar{
        display: block;
        padding: 0px;
    }
    
    .nav-menu{
        display: block;
        padding: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom:10px ;
    }

    .navbar-logo img{
        display: block;
        margin: auto;
    }


    .navbar .nav-item {
        padding: 5px 5px;
        margin: 5px;
    }

    .navbar ul li a {
        margin-bottom: 0px;
        font-size: 15px;

    }

    
}

@media screen and (min-width:768px) and (max-width:1024px){
    .navbar{
        display: flex;
        padding: 0px;
    }
    
    .nav-menu{
        display: block;
        padding: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom:10px ;
    }

    .navbar-logo img{
        display: block;
        margin: 5px;
    }


    .navbar .nav-item {
        padding: 5px 5px;
        margin: 5px;
    }

    .navbar ul li a {
        margin-bottom: 0px;
        font-size: 40px;

    }
}
